.paginator {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 10px;
}

.pageNumber {
	padding: 3px 6px;

	text-align: center;

	border: 1px solid #DC143C;
	cursor: pointer;
}


.pageNumber:last-of-type {
	margin: 10px;
}

.pageNumber:hover,
.pageNumber:focus,
.selectedPage {
	color: #fff;

	background-color: #F08080;
	border-color: transparent;
}

.paginatorNav {
	margin: 0 0 0 10px;
	padding: 5px 10px;

	color: #fff;

	background-color: #F08080;
	border-color: transparent;
	border-radius: 4px;
	cursor: pointer;
}

.paginatorNav:first-of-type,
.paginatorNav:last-of-type {
	margin-left: 0;
}
