.paginator {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 10px;
}

.pageNumber {
	padding: 3px 6px;
	margin-left: 10px;
	text-align: center;

	border: 1px solid #DC143C;
	cursor: pointer;
}

.pageNumber:first-of-type {
	margin: 0;
}

.pageNumber:hover,
.pageNumber:focus,
.selectedPage {
	color: #fff;

	background-color: #F08080;
	border-color: transparent;
}
