.container {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	max-height: 700px;
	max-width: 500px;
}

.title {
	padding: 10px;

	font-size: 18px;
}

.post__area {
	display: flex;
	flex-direction: column;
	padding: 10px;
	max-width: 400px;
}

.textarea {
	height: 100px;
	resize: none;
	outline-color: #F08080;

	border-radius: 4px;
}

.post__footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.posts__btn {
	margin-top: 10px;
	max-width: 150px;
	padding: 8px 20px;

	font-size: 14px;
	font-weight: 600;
	color: #fff;

	background-color: #F08080;
	border-color: transparent;
	border-radius: 4px;
}

.posts__btn:hover {
	margin-top: 10px;
	padding: 6px 16px;

	/* font-size: 16px; */
	font-weight: 600;
	color: #90EE90;
	text-transform: uppercase;

	background-color: #DC143C;
}

.item {
	display: flex;
	max-height: 100px;
	max-width: 300px;
	align-items: center;

	color: #F08080;
	-webkit-text-stroke: .8px #DC143C;
	/* overflow: hidden; */
}

.avatar {
	margin-right: 10px;
	width: 50px;
	flex-shrink: 0;

	border: .5px solid #DC143C;
	border-radius: 50%;
}

.post {
	width: 100%;
	word-wrap: normal;
}
