.nav {
	grid-area: nav;
	padding: 90px 0px 0px 40px;

	font-size: 24px;
	font-weight: 700;
	font-style: italic;
	line-height: 1.4;

	background-image: url("./../../images/red_lanterns_sakura.png");
	background-position: 0% 0%;
	background-repeat: no-repeat;
	background-size: 70%;

	position: relative;
}

.item a {
	margin-left: auto;

	text-decoration: none;
	color: inherit;

	position: relative;
}

.item a.active {
	color: #F08080;
	-webkit-text-stroke: .5px #DC143C;
}
