.profile__top {
	height: 250px;
	width: 100%;

	background-image: url("./../../../images/samurai-background-img.webp");
	background-position: 0% 90%;
	background-repeat: no-repeat;
	background-size: cover;
}

.profile__area {
	display: flex;
	flex-direction: column;
	padding: 10px;
	max-width: 220px;
}

.avatar__large {
	margin: 10px 10px 10px 0;
	width: 200px;
	flex-shrink: 0;

	border: .5px solid #DC143C;
	border-radius: 10%;
}

.avatar__input {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	margin: 10px 10px 10px 0;
	padding: 5px 10px;
	width: 200px;

	color: #fff;

	background-color: #F08080;
	border-color: transparent;
	border-radius: 4px;
	cursor: pointer;
}

.avatar__input div {
	position: relative;
	z-index: 10;
}

.avatar__input input[type=file] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	position: absolute;
	z-index: -10;
}

#upload-container.dragover {
	background-color: #fafafa;
	outline-offset: -17px;
}

.input__label {
	width: fit-content;

	cursor: pointer;
}

.profileStatus {
	font-size: 1.1rem;
	font-weight: 700;
	color: #F08080;
	-webkit-text-stroke: .5px #DC143C;
}

.inputStatus {
	min-height: 100px;
	max-height: 220px;
	min-width: 200px;
	max-width: 220px;
	color: #F08080;

	border-radius: 4px;
	outline-color: #F08080;
}
