.item {
	display: grid;
	grid-template-rows: 100px 50px;
	grid-template-columns: 2fr 8fr;
	grid-gap: normal;
	grid-template-areas:
		"avatar post"
		"like like";

	margin-top: 20px;

	position: relative;
}

.avatar {
	grid-area: avatar;
	margin: 0 auto;
	width: 50px;
	flex-shrink: 0;

	border: .5px solid #DC143C;
	border-radius: 50%;
}

.post {
	grid-area: post;
	display: flex;
	margin-bottom: auto;
	margin-left: 10px;
	max-height: 100px;
	max-width: 400px;

	word-wrap: break-word;

	overflow: auto;
}

.like {
	grid-area: like;
	margin: auto auto;

	font-size: 16px;
	font-weight: 600;
}

.fa-layers-text {
	font-weight: 900;
}
